/* .card-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
} */

.card {
  width: 20vw;
  border: 2px solid black;
  margin: 19px;
  height: 130px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
